body {
  font-family: 'Arvo', Georgia, Times, serif;
  padding-top: 25px;
}

h1, #about, h2, h3, p {
  text-align: center;
}

h1{
  font-size: 28px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 4px;
  padding: 15px;
}

#sub{
  font-size: 15px;
}

#cc{
  width: 60px;
  height:auto;
}

.transSvg{
  margin-top:20px;
}

#about{
    margin-bottom:15px;
}

#about:hover{
  cursor:pointer;
}

h2{
  font-size: 20px
}

.modal-dialog{
  margin-top: 195px;
}

.modal-body{
  text-align: center;
}

#slider-holder{
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 20px;
}

#slider{
  width:239px;
  margin-bottom:5px;
  float:left;
  margin-left:327px;
}

#arrows{
  float:left;
}

#submitArea{
  margin-top: 20px;
}

#snp_col{
  margin-top: 20px;
}

#vis {
    /* 940w/ 500h */
  width: 1170;
  min-height: 600px;
  clear: both;

  display: block;
  margin: auto;
  /* margin-top:15px; JRT */
}

#datasets{
  margin-top:5px;
}

#dataset{
  width:240px;
}

#dataLink{
  margin-top: 20px;
  margin-left: 5px;
}

#search{
  width:130px;
  float:left;
}

#submit{
  margin-left: 5px;
}

.twitter-share-button{
  float: right;
}

#ucscLink:link{
  color:black;
}

#ucscLink:visited {
  color:black;
}

#ucscLink:hover{
  cursor: pointer;
  opacity: .6;
  text-decoration:none;
}

#legend{
  margin-top:30px;
}

footer{
  font-size:10px;
  margin-top: 40px;
  width:100%;
  margin-bottom:20px;
}

footer #text{
  margin-top:30px;
}

.ui-slider .ui-slider-handle{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  opacity: 0.8;
  border: 0px solid transparent;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  outline: none;
}

.igv-content-canvas {
  position: static;
}

.node {
  z-index: 10000;
}
.map-path-50 {
  z-index: -10000;
}

#legend #freqLegend, #legend #transLegend {
  text-align: center;
}

#msg-alert {
  display: none;
}

#footer {
  text-align: center;
}
